@import 'mixins';
@import 'variables';

.container {
  width: 1200px;
  margin: 0 auto;

  @include desktop-lg {
    width: 900px;
  }

  @include tablet {
    width: 740px;
    padding: 0 10px;
  }

  @include mobile {
    width: 100%;
  }
}
